.dinner-menu {
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}

.dinner-menu--margin {
  margin-bottom: 15px;
}

.dinner-menu__title {
  text-align: center;
  height: 50px;
  margin: auto;
  line-height: 50px;
  color: white;
  background: #383637;
  font-size: 1.75rem;
}

.dinner-menu__main {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0, 0.6, 0, 1);
}

.dinner-menu__title i {
  transition: transform 0.25s ease-out;
}

.js-dinner-expand-menu {
  max-height: 2000px;
  transition: max-height 0.3s cubic-bezier(0.5, 0.1, 1, -0.02);
}

.js-chevron-rotate {
  transform: rotate(90deg);
  transition: transform 0.25s ease-out;
}

//Dinner menu sub-colors
.dinner-menu__main--blue {
  background: #2071c7;
}
.dinner-menu__main--maroon {
  background: #bf9a1f;
}
.dinner-menu__main--black {
  background: #5c5957;
}
.dinner-menu__main--purple {
  background: #594c69;
}
.dinner-menu__main--green {
  background: #4c6955;
}
.dinner-menu__main--brown {
  background: #6e4307;
}
.dinner-menu__main--pink {
  background: #a61ba6;
}
.dinner-menu__main--yellow {
  background: #b0aa09;
}

@include laptop-cutoff() {
  .main-intro {
    margin-top: 90px;
  }
  .dinner-menu__title {
    font-size: 2.5rem;
  }
  .dinner-menu {
    width: 95%;
    margin: auto;
  }
}
