$font-size-mobile: 1.5rem;
$font-size-ipad: 1.5rem;
$font-size-laptop: 1.8rem;
$font-size-desktop: 2rem;

.hero-menu {
  width: 100%;
  height: 540px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #b9025f;
  color: #cfc4c4;
  font-size: $font-size-mobile;
}
.desktop-image {
  display: none;
}
.mobile-image {
  width: 102%;
  // border: 1px solid blue;
  position: absolute;
  top: 0;
  left: 0;
}
.hero-menu__title {
  width: 100%;
  max-width: 350px;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: auto;
  // overflow: hidden;
}
.hero-menu__title img {
  width: 100%;
  transform: scale(1.5);
}
.button-container {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  width: 75%;
  max-width: 350px;
  height: 50%;
  text-align: center;
}
.button {
  display: inline-block;
  width: 75%;
  height: 50px;
  margin-top: 15px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  background: #960909;
  box-shadow: #450606 2px 4px;
}
.button--main {
  margin-top: 25px;
}
.order-options:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
.order-options {
  height: 375px;
  color: #dedede;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: $font-size-mobile;
}
.order-options-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.order-options img {
  width: 100%;
}
.order-options h3 {
  margin-top: 15px;
}
.button--jumbo {
  border-radius: 1px;
  background: url("https://i.imgur.com/tMFMo3t.jpg");
  box-shadow: #3d3939 2px 4px;
}
.featured-dish {
  width: 100%;
  overflow: hidden;
  height: 300px;
  position: relative;
  font-size: $font-size-mobile;
}
.mobile-image__small {
  position: static;
}
.featured-dish__textbox {
  font-family: "Black Ops One", cursive;
  color: black;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 100%;
  z-index: 1;
}
.featured-dish__logo {
  // position: absolute;
  // top: 0;
  // left: -25px;
  width: 250px;
  height: 150px;
  transform: rotate(20deg) translate(-30px, 2vw);
}
.textbox1 {
  text-align: center;
  width: 50%;
  margin-left: 15px;
  // margin: auto;
  transform: translate(1px, -65px);
}
.textbox2 {
  text-align: center;
  width: 50%;
  margin-left: 15px;
  transform: translate(10px, -60px);
}
.featured-dish__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 100%;
  background: black;
  opacity: 0.3;
}
.special-offers {
  width: 100%;
  height: 300px;
  padding: 0 5px 0 5px;
  font-size: $font-size-mobile;
}
.special-offers__container {
  width: 100%;
  height: 70%;
}
.special-offers h3 {
  padding-top: 15px;
  opacity: 0.75;
}
.special-offers__offer {
  width: 80%;
  margin: 35px auto;
  text-align: center;
  height: 35%;
  background-size: cover;
  position: relative;
}
.special-offers__text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 10px;
  z-index: 10;
  color: #cccccc;
  font-size: 1.1rem;
}
.special-offers__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.55;
  z-index: 1;
}

@include mobile-cutoff() {
  .hero-menu {
    height: 750px;
    font-size: 1.2rem;
    font-size: $font-size-ipad;
  }
  .hero-menu__title img {
    transform: scale(2.25);
  }
  .button-container {
    top: 35%;
  }
  .button--main {
    width: 90%;
    height: 60px;
    line-height: 60px;
    margin-top: 30px;
  }
  .order-options {
    font-size: $font-size-ipad;
  }
  .order-options img {
    margin-top: -200px;
  }
  .featured-dish {
    height: 400px;
  }
  .featured-dish .mobile-image {
    display: none;
  }
  .featured-dish .desktop-image {
    display: block;
  }
  .featured-dish__textbox {
    top: 50px;
    font-size: 2.5rem;
    width: 225px;
  }
  .featured-dish__screen {
    width: 225px;
  }
  .featured-dish__logo {
    // position: absolute;
    // top: 0;
    // left: -25px;
    width: 250px;
    height: 150px;
    transform: rotate(20deg) translate(-7.5px, 0);
  }
  .textbox1,
  .textbox2 {
    width: 80%;
  }
  .special-offers {
    font-size: 1.2rem;
    height: 350px;
    font-size: $font-size-ipad;
  }
  .special-offers__container {
    width: 100%;
    height: 85%;
  }
  .special-offers__text {
    padding: 30px 10px;
    font-size: 1.5rem;
  }
}

@include laptop-cutoff() {
  .hero-menu {
    height: 650px;
    // margin-top: 30px;
    font-size: $font-size-laptop;
  }
  .hero-menu img {
    transform: scale(1.15);
  }
  .hero-menu__title {
    max-width: 350px;
    top: 20%;
    left: 52%;
  }
  .hero-menu__title img {
    transform: scale(2.25);
  }
  .hero-menu__title,
  .button-container {
    margin-top: 30px;
  }
  .mobile-image {
    display: none;
  }
  .desktop-image {
    display: block;
    width: 100%;
  }
  .home-container {
    display: flex;
  }
  .order-options {
    width: 50%;
    font-size: $font-size-laptop;
    height: 450px;
  }
  .order-options img {
    width: 150%;
    margin-top: 0;
  }
  .button--jumbo {
    height: 60px;
    line-height: 60px;
    margin-top: 30px;
    width: 55%;
    border-radius: 3px;
  }
  .featured-dish {
    width: 50%;
    height: 450px;
  }
  .featured-dish__textbox {
    margin-top: 25px;
  }
  .featured-dish .desktop-image {
    display: none;
  }
  .featured-dish .mobile-image {
    display: block;
  }
  .special-offers {
    font-size: $font-size-laptop;
    height: 400px;
  }
  .special-offers h3 {
    font-size: 1.8rem;
  }
  .special-offers__container {
    display: flex;
  }
  .special-offers__offer {
    width: 45%;
    height: 80%;
    font-size: 2rem;
  }
  .special-offers__text {
    padding: 80px 10px;
    font-size: 2.3rem;
  }
  .button-container {
    top: 37%;
    left: 52%;
    width: 75%;
    max-width: 450px;
    height: 50%;
  }
  .button--main {
    width: 100%;
    height: 75px;
    line-height: 75px;
    margin: 15px auto;
  }
}

@include highdef-cutoff() {
  .hero-menu {
    height: 760px;
    font-size: $font-size-desktop;
  }
  .hero-menu__title,
  .button-container {
    margin-top: 40px;
  }
  .order-options {
    font-size: $font-size-desktop;
    height: 485px;
  }
  .order-options h3 {
    margin-top: 25px;
  }
  .featured-dish {
    font-size: 2rem;
    height: 485px;
  }
  .featured-dish .desktop-image {
    display: block;
    width: 110%;
  }
  .featured-dish .mobile-image {
    display: none;
  }
  .special-offers {
    font-size: $font-size-desktop;
    height: 475px;
  }
  .special-offers h3 {
    font-size: 2.5rem;
  }
  .special-offers__offer {
    width: 45%;
    height: 80%;
  }
  .special-offers__text {
    padding: 100px 15px;
    font-size: 3rem;
  }
}
