.round-logo {
  display: none;
}
.header-container__link {
  display: none;
}
/* .button--tiny {
  If you're looking to modify this, the declaration is in frontpage.scss
  because this file doesn't handle button code
} */
.mobile-menu,
.close-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  color: #3d3939;
  font-size: 2.75rem;
  cursor: pointer;
  margin-right: 7px;
}
.radial-menu {
  border-radius: 100px;
  width: 100px;
  height: 92px;
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  opacity: 0.95;
  transform: translateY(-150px);
  transition: transform 0.3s ease-in 0.2s;
}
.radial-menu img {
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.radial-menu__link {
  border-radius: 15px;
  width: 130px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  background: rgba(255, 128, 0, 0.9);
  z-index: -1;
  transition: transform 0.3s ease-out;
}
.radial-menu__link--1 {
  position: absolute;
  top: 30%;
  left: 85%;
  transform: translateX(-65%) scaleX(0.6);
}
.radial-menu__link--2 {
  position: absolute;
  top: 30%;
  left: -118%;
  transform: translateX(66%) scaleX(0.6);
}

.header-container__logo {
  width: 115px;
}
.header-container img {
  flex: 0 1 auto;
  width: 100%;
  margin-top: -14px;
}
.header-container i {
  line-height: 50px;
  margin-left: 5px;
}
.header-container__name {
  margin-left: 2%;
}

///

@include mobile-cutoff() {
  .radial-menu {
    transform: translateY(-150px) scale(1.45);
  }
  .mobile-menu,
  .close-menu {
    font-size: 3rem;
    margin-left: 8px;
  }
  .header-container {
    height: 60px;
    line-height: 60px;
    font-size: 2.5rem;
  }
  .header-container img {
    flex: 0 1 auto;
    width: 60px;
  }
  .header-container i {
    line-height: 60px;
  }
  .pop-down-menu__container {
    top: 60px;
  }
  .pop-down-menu {
    top: 60px;
  }
  .header-container__name {
    margin-left: 5%;
  }
  .header-container__logo {
    width: 140px;
  }
  .header-container img {
    width: 100%;
  }
}

@include laptop-cutoff() {
  .mobile-menu,
  .close-menu,
  .radial-menu {
    display: none;
  }
  .round-logo {
    display: block;
    position: fixed;
    top: 1%;
    left: 1%;
    width: 150px;
    height: 150px;
    z-index: 102;
    transition: all 0.4s ease-out;
  }
  .round-logo img {
    width: 100%;
  }
  .header-container {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    transform: none;
    width: 89%;
    height: 70px;
    line-height: 70px;
    border-radius: 10px;
    justify-content: flex-end;
    color: #e0e0e0;
    background: #333333;
    border-radius: 50px;
    transition: all 0.45s ease-out;
    transform-origin: left;
    z-index: 100;
  }
  .header-container a {
    flex: 0 1 20%;
  }
  .header-container__name {
    font-size: 1.6rem;
    flex: 0 1 content;
    padding-right: 75px;
  }
  .pop-down-menu {
    display: none;
  }
  .header-container__logo {
    width: 200px;
  }
  .header-container img {
    width: 50%;
    margin-top: -7.5px;
    margin-left: 25%;
  }
  .header-container__name i {
    margin-right: 10px;
  }
  .header-container__link {
    display: block;
    font-size: 1.6rem;
    text-align: center;
  }
  .header-container__link:hover {
    background: #b3a8a8;
  }
  .js-headerbar-shrink {
    top: -17.5px;
    width: 90%;
    transform: scaleY(0.9) scaleX(0.95);
  }
  .js-logo-animate {
    top: 0;
    transform: scale(0.8) translate(30px, -20px);
  }
}

@include highdef-cutoff() {
  .header-container {
    height: 85px;
    line-height: 85px;
  }
  .round-logo {
    transform: scale(1.05);
  }
  .header-container a {
    flex: 0 1 23%;
  }
  .header-container__logo {
    width: 225px;
  }
  .header-container img {
    width: 45%;
    margin-top: -10px;
    margin-left: 30%;
  }
}

.js-header-slide-down {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}
.js-links-slide {
  transform: translateX(0) scale(1);
  transition: transform 0.3s ease-out 0.3s;
}
.js-logo-animate {
  top: 0;
  transform: scale(0.85) translate(45px, -15px);
}

@include mobile-cutoff() {
  .js-header-slide-down {
    transform: translateY(30px) scale(1.45);
    transition: transform 0.3s ease-out;
  }
}
