.header-container {
  display: flex;
  // justify-content: space-evenly;
  width: 100vw;
  height: 50px;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  line-height: 50px;
  position: fixed;
  top: 0;
  z-index: 100;
  color: black;
  background: #cfc4c4;
  display: none;
}
.header-container__link {
  display: none;
}
.mobile-menu,
.close-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  color: #3d3939;
  font-size: 2.75rem;
  cursor: pointer;
  margin-right: 7px;
}
.pop-down-menu__container {
  overflow: hidden;
  position: fixed;
  top: 50px;
  right: 0;
  width: 275px;
  height: 250px;
  z-index: 101;
  pointer-events: none;
}
.pop-down-menu {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  position: fixed;
  top: 50px;
  right: 0;
  width: 275px;
  height: 250px;
  z-index: 101;
  background: #7d0505;
  color: white;
  font-size: 2rem;
  transform: translateX(300px);
  transition: transform 0.3s ease-out;
}
.pop-down-menu:hover {
  background: #b3a8a8;
}
.pop-down-menu__link {
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 75%;
  margin: 20px auto;
  font-family: "Rubik", sans-serif;
}
.js-pop-down-menu--slide-down {
  transform: none;
  pointer-events: auto;
}
.close-menu {
  color: black;
}
///////////////////////////////////////////////////////////////////////////////////////

.radial-menu {
  border-radius: 100px;
  width: 100px;
  height: 92px;
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  opacity: 0.95;
  transform: translateY(-150px);
  transition: transform 0.3s ease-in 0.2s;
}
.radial-menu img {
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.radial-menu__link {
  border-radius: 15px;
  width: 130px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  background: rgba(255, 128, 0, 0.9);
  z-index: -1;
  transition: transform 0.3s ease-out;
}
.radial-menu__link--1 {
  position: absolute;
  top: 30%;
  left: 85%;
  transform: translateX(-65%) scaleX(0.6);
}
.radial-menu__link--2 {
  position: absolute;
  top: 30%;
  left: -118%;
  transform: translateX(66%) scaleX(0.6);
  // display: none;
}

///legacy laptop code

.header-container__logo {
  width: 115px;
}
.header-container img {
  flex: 0 1 auto;
  width: 100%;
  margin-top: -14px;
}
.header-container i {
  line-height: 50px;
  margin-left: 5px;
}
.header-container__name {
  margin-left: 2%;
}

///

@include mobile-cutoff() {
  .radial-menu {
    transform: translateY(-150px) scale(1.45);
  }
  .mobile-menu,
  .close-menu {
    font-size: 3rem;
    margin-left: 8px;
  }
  .header-container {
    height: 60px;
    line-height: 60px;
    font-size: 2.5rem;
  }
  .header-container img {
    flex: 0 1 auto;
    width: 60px;
  }
  .header-container i {
    line-height: 60px;
  }
  .pop-down-menu__container {
    top: 60px;
  }
  .pop-down-menu {
    top: 60px;
  }
  .header-container__name {
    margin-left: 5%;
  }
  .header-container__logo {
    width: 140px;
  }
  .header-container img {
    width: 100%;
  }
}

@include laptop-cutoff() {
  .mobile-menu,
  .close-menu,
  .radial-menu {
    display: none;
  }
  .header-container {
    display: flex;
    margin: auto;
    margin-top: 10px;
    left: 0;
    right: 0;
    transform: none;
    height: 75px;
    line-height: 75px;
    width: 90%;
    border-radius: 10px;
    justify-content: flex-start;
  }
  .pop-down-menu {
    display: none;
  }
  .header-container__logo {
    width: 200px;
  }
  .header-container img {
    width: 50%;
    margin-top: -7.5px;
    margin-left: 25%;
  }
  .header-container__name {
    font-size: 1.6rem;
    flex: 1 1 content;
    padding-right: 20px;
  }
  .header-container__link {
    display: block;
    font-size: 1.6rem;
    text-align: center;
  }
  .header-container__link:hover {
    background: #b3a8a8;
  }
  .header-container a {
    flex: 1 1 10px;
  }
}

@include highdef-cutoff() {
  .header-container {
    height: 85px;
    line-height: 85px;
  }
  .header-container__logo {
    width: 225px;
  }
  .header-container img {
    width: 45%;
    margin-top: -10px;
    margin-left: 30%;
  }
}

.js-header-slide-down {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}
.js-links-slide {
  transform: translateX(0) scale(1);
  transition: transform 0.3s ease-out 0.3s;
}

@include mobile-cutoff() {
  .js-header-slide-down {
    transform: translateY(30px) scale(1.45);
    transition: transform 0.3s ease-out;
  }
}
