.header-container {
  display: flex;
  // justify-content: space-evenly;
  width: 100vw;
  height: 50px;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  line-height: 50px;
  position: fixed;
  top: 0;
  z-index: 100;
  color: black;
  background: #cfc4c4;
}
.header-container__link {
  display: none;
}
.mobile-menu,
.close-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  color: #3d3939;
  font-size: 2.75rem;
  cursor: pointer;
  margin-right: 7px;
}
.pop-down-menu__container {
  overflow: hidden;
  position: fixed;
  top: 50px;
  right: 0;
  width: 275px;
  height: 250px;
  z-index: 101;
  pointer-events: none;
}
.pop-down-menu {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  position: fixed;
  top: 50px;
  right: 0;
  width: 275px;
  height: 250px;
  z-index: 101;
  background: #7d0505;
  color: white;
  font-size: 2rem;
  transform: translateX(300px);
  transition: transform 0.3s ease-out;
}
.pop-down-menu:hover {
  background: #b3a8a8;
}
.pop-down-menu__link {
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 75%;
  margin: 20px auto;
  font-family: "Rubik", sans-serif;
}
.js-pop-down-menu--slide-down {
  transform: none;
  pointer-events: auto;
}
.close-menu {
  color: black;
}
.header-container__logo {
  // flex: 0 1 auto;
  width: 115px;
}
.header-container img {
  flex: 0 1 auto;
  width: 100%;
  margin-top: -14px;
}
.header-container i {
  line-height: 50px;
  margin-left: 5px;
}
.header-container__name {
  margin-left: 2%;
}

.js-header-slide-down {
  transform: none;
}

@include mobile-cutoff() {
  .mobile-menu,
  .close-menu {
    font-size: 3rem;
    margin-left: 8px;
  }
  .header-container {
    height: 60px;
    line-height: 60px;
    font-size: 2.5rem;
  }
  .header-container img {
    flex: 0 1 auto;
    width: 60px;
  }
  .header-container i {
    line-height: 60px;
  }
  .pop-down-menu__container {
    top: 60px;
  }

  .pop-down-menu {
    top: 60px;
  }
}

@include mobile-cutoff() {
  .header-container__name {
    margin-left: 5%;
  }
  .header-container__logo {
    width: 140px;
  }
  .header-container img {
    width: 100%;
  }
}

@include laptop-cutoff() {
  .mobile-menu,
  .close-menu {
    display: none;
  }
  .header-container {
    margin: auto;
    margin-top: 10px;
    left: 0;
    right: 0;
    transform: none;
    height: 75px;
    line-height: 75px;
    width: 90%;
    border-radius: 10px;
    justify-content: flex-start;
  }
  .pop-down-menu {
    display: none;
  }
  .header-container__logo {
    width: 200px;
  }
  .header-container img {
    width: 100%;
    margin-top: -33px;
  }
  .header-container__name {
    font-size: 1.6rem;
    flex: 1 1 content;
    padding-right: 20px;
  }
  .header-container__link {
    display: block;
    font-size: 1.6rem;
    text-align: center;
  }
  .header-container__link:hover {
    background: #b3a8a8;
  }
  .header-container a {
    flex: 1 1 10px;
  }
}

@include highdef-cutoff() {
  .header-container {
    height: 85px;
    line-height: 85px;
  }
  .header-container__logo {
    width: 225px;
  }
  .header-container img {
    width: 100%;
  }
}
