.main-intro {
  margin-top: 50px;
  color: black;
  padding: 15px;
  text-align: center;
}

.main-intro p {
  margin-top: 10px;
  font-size: 0.75rem;
  font-family: "Rubik", sans-serif;
}

.menu-item {
  // border: 2px solid #dddcde;
  width: 83vw;
  margin: 15px auto;
  padding-top: 5px;
  font-size: 1.35rem;
  color: black;
  // background: #f4f2f5;
  border-radius: 5px;
  position: relative;
  transition: all 0.2s linear;
  font-family: "Bad Script", cursive;
  cursor: pointer;
  user-select: none;
}

.js-menu-item__change {
  background: rgba(200, 200, 200, 0.25);
  transition: all 0.3s linear;
}

.menu-item__animation {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 5px solid orange;
  height: 0;
  width: 0;
  transition: all 0.2s linear;
  pointer-events: none;
}

.js-menu-item__hover {
  left: 0;
  width: 100%;
  height: 100%;
  transition: width 0.3s linear;
}

.menu-item__heading {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  margin-top: 5px;
}

.menu-item__price {
  font-family: "Rubik", sans-serif;
}

.menu-item__price i {
  cursor: pointer;
}

.menu-item__body {
  //testing
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.menu-item__body div {
  padding: 5px 15px;
  text-align: left;
}
.menu-item__container {
  height: 100%;
}
.right-menu {
  position: absolute;
  top: 225px;
  right: 0;
  background: url("./images/menu_right.png") -30px 0px;
  width: 35px;
  height: 1px;
  z-index: -1;
}
.left-menu {
  position: absolute;
  top: 225px;
  left: 0;
  background: url("./images/menu_left.png");
  width: 35px;
  height: 1px;
  z-index: -1;
}

//
//Javascript Hooks

.js-expand-menu {
  max-height: 120px;
  transition: max-height 0.3s ease-out;
}

@include mobile-cutoff() {
  .main-intro {
    font-size: 2rem;
  }
  .menu-item {
    width: 80%;
    font-size: 2rem;
  }
  .js-expand-menu {
    max-height: 200px;
  }
  .js-menu-item__hover {
    transition: width 0.2s linear;
  }
  .right-menu {
    width: 60px;
    background-position: -6px 0px;
  }
  .left-menu {
    width: 60px;
  }
}

@include laptop-cutoff() {
  .main-intro {
    padding-top: 50px;
  }
  .menu-item {
    font-size: 2.6rem;
    width: 60%;
  }
  .menu-item__heading {
    display: flex;
    justify-content: space-between;
  }
  .menu-item__body {
    padding: 0 30px;
  }
  .js-expand-menu {
    max-height: 250px;
  }
  .js-menu-item__hover {
    transition: width 0.15s linear;
  }
  .right-menu {
    width: 100px;
    background-position: 0px 0px;
    background-size: cover;
  }
  .left-menu {
    width: 100px;
    background-size: cover;
  }
}

@include highdef-cutoff {
  .right-menu {
    width: 160px;
    background-position: 0px 0px;
    background-size: cover;
  }
  .left-menu {
    width: 160px;
    background-size: cover;
  }
  .menu-item {
    font-size: 2.75rem;
  }
}
